.banner {
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1{
  color:white;
}

.banner p, a{
  color:white;
}

.banner p{
  font-size:20px;
}
